@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<p>
    @Html.ActionLink("New Movie", "New", "Movies", new { @class = "btn btn-primary"})
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Movies</h1>
            </div>
            <div class="panel-body">
                <table id="movies-data-table" class="table table-striped table-bordered"
                       style="width:100%;">
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
       $(document).ready(function () {
           var movieListVM;
            movieListVM = {
                dt: null,

                init: function () {
                    dt = $('#movies-data-table').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "ajax": {
                            "url":
                            "@Url.Action("Get","Movies")"
                        },
                        "columns": [
                            { "title": "Movie Name",
                            "data": "Name",
                            "render": function (data, type, movie) {
                                    return "<a href='/movies/edit/" + movie.Id + "'>" + movie.Name + "</a>";
                                },
                            "searchable": true },
                            {
                                "title": "Genre Name",
                                "data": "GenreId"
                            },
                            {
                            "data": "Id",
                            "render": function (data) {
                                return "<button class='btn-link js-delete' data-movie-id=" + data + ">DELETE</button>";
                                }
                            }
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    });
                }
            }

            // initialize the datatables
            movieListVM.init();

            $('#movies').on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this movie?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
       });
    </script>
}

