
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("New Rental", "New", "Rentals", new { @class = "btn btn-primary" })
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Rentals</h1>
            </div>
            <div class="panel-body">
                <table id="rentals-data-table" class="table table-striped table-bordered"
                       style="width:100%;">
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var rentalListVM;
        $(function () {
            rentalListVM = {
                dt: null,

                init: function () {
                    dt = $('#rentals-data-table').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "ajax": {
                            "url":
                            "@Url.Action("Get","Rentals")"
                        },
                        "columns": [
                            {
                            "title": "Customer",
                            "data": "Customer_Id",
                            "searchable": true },
                            {
                            "title": "Movie",
                            "data": "Movie_Id"
                            }
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    });
                }
            }

            // initialize the datatables
            rentalListVM.init();
        });
    </script>
}

